@import "./fishlist.css";

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');


body,
button,
input,
select,
textarea{
    color: black ;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    font-size: small;
    line-height: 1;
    background-color: skyblue;
}

h1,h2,h4,h5,h6{
    font-weight: "patua one", serif;
    letter-spacing: 2px;
}

img{
    width:150px;
    height: 100px;
    
}

.contentContainer{
    display: flex;
}

.contentContainer__left{
flex: 1;
}

.tipsList_contentContainer__right{
flex: .3;
}

section, article, aside{
flex-wrap: wrap;
}